


h1 {
    text-align: center;
}


a:link {
    color:rgb(61, 43, 226)
}

a:hover {
    color:rgb(23, 122, 209)
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%
  }

body {
    background-color: aliceblue;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

